<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.innerpeace_database">


    <application
        android:name=".AudioApplication"
        android:allowBackup="true"
        android:icon="@drawable/innerpeace_logo"
        android:label="Inner_Peace"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="REWIND"/>
                <action android:name="TOGGLE_PLAY"/>
                <action android:name="FORWARD"/>
                <action android:name="CLOSE"/>
            </intent-filter>
        </service>
    </application>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>